<p-card header="Weapon Comparer">
    <p class="m-0">
        The most complete weapon comparator in the Warhammer 40,000 universe. With the option to simulate dice physics<br>
        <b>Updated to 10th edition</b>
    </p>
    <!-- Enemy editor { "T": 10, "W": 12, "Save": 2, "Invuln": 0, "feelnopain": 0, "name": "BALLISTUS DREADNOUGHT" };-->
    <p-card>
        <h2>Edit Enemy</h2>
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i> 
                    </span>
                    <label for="name" class="labelname">Name</label>
                    <input type="text" pInputText [(ngModel)]="this.enemy.name" id="name" style="width: 100%" />
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-shield"></i>
                    </span>
                    <label for="toughness" class="labelname">Toughness</label>
                    <input type="number" pInputText [(ngModel)]="this.enemy.T" id="toughness" style="width: 100%" />
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-heart"></i>
                    </span>
                    <label for="wounds" class="labelname">Wounds</label>
                    <input type="number" pInputText [(ngModel)]="this.enemy.W" id="wounds" style="width: 100%" />
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <label for="save" class="labelname">Save</label>
                    <input type="number" pInputText [(ngModel)]="this.enemy.Save" id="save" style="width: 100%" />
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-shield"></i>
                    </span>
                    <label for="invuln" class="labelname">Invulnerable Save</label>
                    <input type="number" pInputText [(ngModel)]="this.enemy.Invuln" id="invuln" style="width: 100%" />
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-heart"></i>
                    </span>
                    <label for="feelnopain" class="labelname">Feel No Pain</label>
                    <input type="number" pInputText [(ngModel)]="this.enemy.feelnopain" id="feelnopain" style="width: 100%" />
                </div>
            </div>
        </div>
    </p-card>


    <div class="p-float-label" style="margin-top: 2em;">
        <input id="numberofweapons" type="number" pInputText [(ngModel)]="numberOfWeapons" />
        <label htmlFor="numberofweapons">Number of weapons</label>
    </div>
   


    <h2>Weapons</h2>
    <div style="margin-top: 15px;" >
        <button pButton label="Add weapon" icon="pi pi-plus-circle" iconPos="right" (onClick)="addWeapon()"></button>
    </div>
    <div *ngFor="let weapon of weapons; index as i;">
        <div style="margin-left: 10%;margin:3%">
            <h1 >{{weapon.name}}:</h1> 
            <div><button pButton label="Remove" class="p-button-danger" icon="pi pi-trash" iconPos="right" (onClick)="removeWeapon(weapon)"></button></div>
        </div>
        <div class="grid" >
            <app-weapon class="col-12 lg:col-2" [data]="weapon"></app-weapon>             
            <div class="col-12 lg:col-2 dices" [id]="'hitroll-'+i"></div>
            <div class="col-12 lg:col-2 dices" [id]="'woundroll-'+i"></div>
            <div class="col-12 lg:col-2 dices" [id]="'saveroll-'+i"></div>
            <div class="col-12 lg:col-2 dices" [id]="'feelnopain-'+i"></div>
            <div class="col-12 lg:col-2" [id]="'result-'+i"></div>
        </div>
        
        <div class="grid" style="margin-top: 2em;" >
            <div class="col-2 info">Weapon stats</div>
            <div class="col-2 info">Hitroll</div>
            <div class="col-2 info">Woundroll</div>
            <div class="col-2 info">Saves</div>
            <div class="col-2 info">Feel no pain</div>
        </div>
        
        <div class="separator"></div>

    </div>
    <div style="margin: 5%;text-align: center;">
        <button pButton type="button" icon="pi pi-calculator" style="font-size: x-large; font-weight: bolder;" label="Calculate" class="p-button-success" (click)="calculate()"></button>
    </div>
</p-card>





